form {
    width: 600px;
    height: 250px;
    margin: 20rem auto;
    display: flex;
    flex-direction: column;
    text-align: start;
    row-gap: 15px;
    /* border: 2px solid red; */
    box-shadow: 2px 2px 16px 5px grey;
    padding: 20px;
}

input {
    padding: 10px;
    width:  500px;
}

button {
    width: 200px;
    padding: 10px;
}

label,
input,
button {
    margin-left: 10px;
}
